<template name ="FAQ">
	<div class = "container">
		<div class = "faq">
			<ul>
				<li class = "q">What is this?</li>
				<li class = "a">
					ChatSnap takes a picture of you whenever you press enter.</br>
				</li>
				<li class = "q">Why?</li>
				<li class = "a">For fun.</li>
				<li class = "q">What's a Private Room?</li>
				<li class = "a">
					The 10 characters after the / in the URL act as a room name. Only people at that URL will see those chats. Additionally, chats in private rooms will self-destruct after 1 hour. You can click "New Private Room" to generate a new room with a random name. Share the URL with anyone you want to chat in semi-privacy with! You can also create your own rooms, named whatever you want, by typing them in manually to the URL bar. For example, chatsnap.meteor.com/thisiscool
				</li>
			</ul>
		</div>
	</div>
</template>