<template name = "capture">
<video autoplay></video>
<img id = "placeholder" src="http://placekitten.com/100/100">
<canvas id = "canvas"></canvas>
<button id="capture" class="btn">Take photo</button>

<script>
  function() {
    var streaming = false,
    var video = document.querySelector('video');
    var canvas = document.querySelector('#canvas');
    var button = document.querySelector('#capture');
    var image = document.querySelector('#placeholder');
    //var ctx = canvas.getContext('2d');
    //var localMediaStream = null;
    var width = 100;
    var height = 0;

    //get video from webcam, differentiated by browser

    navigator.getMedia = ( navigator.getUserMedia ||
                       navigator.webkitGetUserMedia ||
                       navigator.mozGetUserMedia ||
                       navigator.msGetUserMedia);

    //ask broswer for video only, get a stream as a callback

    navigator.getMedia(
      {
        video: true,
        audio:
      },

      // mozilla requires the .mozSrcObject to be set to stream directly,
      // other broswers need an object URL to be set to .src

      function(stream){
        if (navigator.mozGetUserMedia) {
          video.mozSrcObject = stream;
        } else{
          var vendorURL = window.URL || window.webkitURL;
          video.src = vendorURL.createObjectURL(stream);
        }
        video.play
      },

      // error handler

      function(err){
        console.log("error: "+err);
      })

    // 

    video.addEventListener('canplay',function(e){
      if (!streaming) {
        height = video.videoHeight / (video.videoWidth/width);
        video.setAttribute('width',width);
        video.setAttribute('height',height);
        canvas.setAttribute('width',width);
        canvas.setAttribute('height',height);
        streaming = true;
      }
    },false)

    function snapshot() {
      if (localMediaStream) {
        ctx.drawImage(video, 0, 0);
        // "image/webp" works in Chrome.
        // Other browsers will fall back to image/png.
        document.querySelector('img').src = canvas.toDataURL('image/webp');
      }
    }

    video.addEventListener('click', snapshot, false);

    // Not showing vendor prefixes or code that works cross-browser.
    navigator.getUserMedia({video: true}, function(stream) {
      video.src = window.URL.createObjectURL(stream);
      localMediaStream = stream;
    }, errorCallback);
  }
</script>
</template>

